* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid red; */
}

.header ul li {
    margin-left: 30px;
}

.header ul li a {
    color: white !important;
}

.header {
    background-color: black;
}

.banner {
    background-color: black;
}

.banner h1,
.about h1 {
    font-size: 50px;
}

.muscle {
    background-color: #f7f7f7;
    /* clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 80% 80%, 0% 100%) */
}

.muscle h1 {
    font-size: 5rem;
}

.muscle h3 {
    color: #acacac;
    letter-spacing: 60px;
}

.services h1,
.client h1,
.work h1,
.contact h1,
.footer h1 {
    font-size: 3.5rem;
}

.custom-width {
    width: 50%;
}

.services .card {
    box-shadow: 5px 8px 20px;
}

.work {
    background-color: #f7f7f7;
    /* clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 80% 80%, 0% 100%); */
    padding-bottom: 10% !important;
    height: 1
}

.work img {
    width: 230px;
    height: 150px;
}


.contact .custom-margin {
    margin-left: 41% !important;
}

.footer {
    background-color: black;
}

.footer img {
    width: 60px;
    height: 30px;
}



/* media query */

@media only screen and (max-width:991px) {
    .header ul li {
        margin-left: 0px;
    }

}

@media only screen and (max-width:1200px) {
    .muscle h3 {
        letter-spacing: 35px !important;
    }
}

@media only screen and (max-width:550px) {

    .services h1,
    .client h1,
    .work h1,
    .contact h1,
    .footer h1 {
        font-size: 2.5rem;
    }

    .navbar-toggler {
        padding: 1px 3px;

    }

    html{
        font-size: 11px;
    }
}

@media only screen and (max-width:378px) {
    .muscle h3 {
        letter-spacing: 23px !important;
    }
}


